In [15]:
import pandas as pd
# FIFA TEAM STATS FOR WC 2018 upto R16
df = pd.read_csv('fifa_team_stats.csv')
# MATCHES RESULTS IN WC 2018 upto R16
matches = pd.read_csv('ALL_MATCHES.csv')
matches.head()

,Team_1,Team_2,attempts_off_target_1,attempts_off_target_2,attempts_on_target_1,attempts_on_target_2,clearances_1,clearances_2,goals_against_1,goals_against_2,goals_scored_1,goals_scored_2,matches_played_1,matches_played_2,results,shots_attempted_1,shots_attempted_2,shots_blocked_1,shots_blocked_2
0,Russia,Saudi Arabia,16,16,19,10,176,67,7,7,10,2,5,3,1,46,36,11,10
1,Egypt,Uruguay,17,26,5,22,95,109,6,3,2,6,3,5,0,29,61,7,13
2,Morocco,Iran,18,15,10,4,62,91,4,2,2,1,3,3,0,35,21,7,2
3,Portugal,Spain,20,28,14,21,87,36,6,6,6,6,4,4,0,52,70,18,21
4,France,Australia,27,14,19,8,135,83,4,5,8,2,5,3,1,56,32,10,10

In [16]:

# Normailizing
matches['goals_scored_1']=matches['goals_scored_1']/matches['matches_played_1']

matches['goals_scored_2']=matches['goals_scored_2']/matches['matches_played_2']

matches['goals_against_2']=matches['goals_against_2']/matches['matches_played_2']

matches['attempts_on_target_2']=matches['attempts_on_target_2']/matches['matches_played_2']

matches['shots_attempted_2']=matches['shots_attempted_2']/matches['matches_played_2']

matches['attempts_off_target_2']=matches['attempts_off_target_2']/matches['matches_played_2']

matches['shots_blocked_2']=matches['shots_blocked_2']/matches['matches_played_2']

matches['clearances_2']=matches['clearances_2']/matches['matches_played_2']

matches['goals_against_1']=matches['goals_against_1']/matches['matches_played_1']

matches['attempts_on_target_1']=matches['attempts_on_target_1']/matches['matches_played_1']

matches['shots_attempted_1']=matches['shots_attempted_1']/matches['matches_played_1']

matches['attempts_off_target_1']=matches['attempts_off_target_1']/matches['matches_played_1']

matches['shots_blocked_1']=matches['shots_blocked_1']/matches['matches_played_1']

matches['clearances_1']=matches['clearances_1']/matches['matches_played_1']

matches.head()
matches_2 = pd.DataFrame()
visited=[]
for col in matches.columns:
    c_name = str(col)
    if ('result' not in c_name):
        col_names = c_name.split('_')
        y = len(col_names)
        c_name_2 = ""
        for j in range(y-1):
            if (c_name_2):
                c_name_2 = c_name_2 + "_"
            c_name_2=c_name_2 + col_names[j]
        if (c_name_2 not in visited):
            matches_2[c_name_2+"_2"]=matches[col]
            visited.append(c_name_2)
        else:
            matches_2[c_name_2+"_1"]=matches[col]
    else:
        matches_2['results']=1-matches['results']
matches_2.head()
matches=matches.append(matches_2)
matches = matches.reset_index(drop=True)
matches[matches['Team_1']=='Russia']

,Team_1,Team_2,attempts_off_target_1,attempts_off_target_2,attempts_on_target_1,attempts_on_target_2,clearances_1,clearances_2,goals_against_1,goals_against_2,goals_scored_1,goals_scored_2,matches_played_1,matches_played_2,results,shots_attempted_1,shots_attempted_2,shots_blocked_1,shots_blocked_2
0,Russia,Saudi Arabia,3.2,5.333333,3.8,3.333333,35.2,22.333333,1.4,2.333333,2.0,0.666667,5,3,1,9.2,12.000000,2.2,3.333333
16,Russia,Egypt,3.2,5.666667,3.8,1.666667,35.2,31.666667,1.4,2.000000,2.0,0.666667,5,3,1,9.2,9.666667,2.2,2.333333
59,Russia,Croatia,3.2,7.800000,3.8,3.800000,35.2,28.800000,1.4,0.800000,2.0,1.800000,5,5,0,9.2,15.600000,2.2,4.000000
92,Russia,Uruguay,3.2,5.200000,3.8,4.400000,35.2,21.800000,1.4,0.600000,2.0,1.200000,5,5,0,9.2,12.200000,2.2,2.600000
110,Russia,Spain,3.2,7.000000,3.8,5.250000,35.2,9.000000,1.4,1.500000,2.0,1.500000,5,4,1,9.2,17.500000,2.2,5.250000

In [17]:
#Difference in Opposing Teams
matches['diff_goals_scored']=matches['goals_scored_1']-matches['goals_scored_2']

matches['diff_goals_against']=matches['goals_against_1']-matches['goals_against_2']

matches['diff_attempts_on_target']=matches['attempts_on_target_1']-matches['attempts_on_target_2']

matches['diff_shots_attempted']=matches['shots_attempted_1']-matches['shots_attempted_2']

matches['diff_attempts_off_target']=matches['attempts_off_target_1']-matches['attempts_off_target_2']

matches['diff_shots_blocked']=matches['shots_blocked_1']-matches['shots_blocked_2']

matches['diff_clearances']=matches['clearances_1']-matches['clearances_2']

matches.head()

,Team_1,Team_2,attempts_off_target_1,attempts_off_target_2,attempts_on_target_1,attempts_on_target_2,clearances_1,clearances_2,goals_against_1,goals_against_2,...,shots_attempted_2,shots_blocked_1,shots_blocked_2,diff_goals_scored,diff_goals_against,diff_attempts_on_target,diff_shots_attempted,diff_attempts_off_target,diff_shots_blocked,diff_clearances
0,Russia,Saudi Arabia,3.200000,5.333333,3.800000,3.333333,35.200000,22.333333,1.400000,2.333333,...,12.000000,2.200000,3.333333,1.333333,-0.933333,0.466667,-2.800000,-2.133333,-1.133333,12.866667
1,Egypt,Uruguay,5.666667,5.200000,1.666667,4.400000,31.666667,21.800000,2.000000,0.600000,...,12.200000,2.333333,2.600000,-0.533333,1.400000,-2.733333,-2.533333,0.466667,-0.266667,9.866667
2,Morocco,Iran,6.000000,5.000000,3.333333,1.333333,20.666667,30.333333,1.333333,0.666667,...,7.000000,2.333333,0.666667,0.333333,0.666667,2.000000,4.666667,1.000000,1.666667,-9.666667
3,Portugal,Spain,5.000000,7.000000,3.500000,5.250000,21.750000,9.000000,1.500000,1.500000,...,17.500000,4.500000,5.250000,0.000000,0.000000,-1.750000,-4.500000,-2.000000,-0.750000,12.750000
4,France,Australia,5.400000,4.666667,3.800000,2.666667,27.000000,27.666667,0.800000,1.666667,...,10.666667,2.000000,3.333333,0.933333,-0.866667,1.133333,0.533333,0.733333,-1.333333,-0.666667

In [18]:
#Training Data
columns_of_interest = ['diff_goals_scored','diff_goals_against','diff_attempts_on_target','diff_shots_attempted','diff_attempts_off_target','diff_shots_blocked','diff_clearances']    

train_X = matches[columns_of_interest]

train_Y = matches['results']

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100)

train_X[train_X.isnull()]
train_X=train_X.dropna()

rf.fit(train_X,train_Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [19]:
#Function to return weight of wining of team_1 against team_2

def winning_probability (team_1,team_2):
    test_matches = pd.DataFrame()
    
    for i in range(len(team_1)):
        first = pd.DataFrame(df[df['Team']==team_1[i]])
        second = pd.DataFrame(df[df['Team']==team_2[i]])
        first = first.reset_index(drop=True)
        second = second.reset_index(drop=True)
        res = pd.DataFrame()

        for col in df.columns:
            res[col+"_1"]=pd.DataFrame(first[col])
            res[col+"_2"]=pd.DataFrame(second[col])
			
        test_matches = test_matches.append(res)
        
        test_matches['goals_scored_1']=test_matches['goals_scored_1']/test_matches['matches_played_1']

        test_matches['goals_scored_2']=test_matches['goals_scored_2']/test_matches['matches_played_2']

        test_matches['goals_against_2']=test_matches['goals_against_2']/test_matches['matches_played_2']

        test_matches['attempts_on_target_2']=test_matches['attempts_on_target_2']/test_matches['matches_played_2']

        test_matches['shots_attempted_2']=test_matches['shots_attempted_2']/test_matches['matches_played_2']

        test_matches['attempts_off_target_2']=test_matches['attempts_off_target_2']/test_matches['matches_played_2']

        test_matches['shots_blocked_2']=test_matches['shots_blocked_2']/test_matches['matches_played_2']

        test_matches['clearances_2']=test_matches['clearances_2']/test_matches['matches_played_2']

        test_matches['goals_against_1']=test_matches['goals_against_1']/test_matches['matches_played_1']

        test_matches['attempts_on_target_1']=test_matches['attempts_on_target_1']/test_matches['matches_played_1']

        test_matches['shots_attempted_1']=test_matches['shots_attempted_1']/test_matches['matches_played_1']

        test_matches['attempts_off_target_1']=test_matches['attempts_off_target_1']/test_matches['matches_played_1']

        test_matches['shots_blocked_1']=test_matches['shots_blocked_1']/test_matches['matches_played_1']

        test_matches['clearances_1']=test_matches['clearances_1']/test_matches['matches_played_1']

        test_matches['diff_goals_scored']=test_matches['goals_scored_1']-test_matches['goals_scored_2']
    
        test_matches['diff_goals_against']=test_matches['goals_against_1']-test_matches['goals_against_2']
    
        test_matches['diff_attempts_on_target']=test_matches['attempts_on_target_1']-test_matches['attempts_on_target_2']
    
        test_matches['diff_shots_attempted']=test_matches['shots_attempted_1']-test_matches['shots_attempted_2']
       
        test_matches['diff_attempts_off_target']=test_matches['attempts_off_target_1']-test_matches['attempts_off_target_2']
    
        test_matches['diff_shots_blocked']=test_matches['shots_blocked_1']-test_matches['shots_blocked_2']
        
        test_matches['diff_clearances']=matches['clearances_1']-matches['clearances_2']
    
        test_X = test_matches[columns_of_interest]
    
        test_X[test_X.isnull()]
    
        test_X=test_X.dropna()
        pred_Y = rf.predict(test_X)
        return pred_Y[0]

#Function to return probability of winning of Team 1 against Team 2

def get_probability (team_1,team_2):
    X1 = winning_probability(team_1,team_2)
    X2 = winning_probability(team_2,team_1)
    X = X1/(X1+X2)
    return X

In [29]:
# Quarter Finals Winning Probabilites: #
print ('Belgium vs France -> %f' %(get_probability(['Belgium'],['France'])))
print ('Croatia vs England -> %f' %(get_probability(['Croatia'],['England'])))

Belgium vs France -> 0.962963
Croatia vs England -> 0.098592